@font-face {
  font-family: Arial-Nova-Condensed;
  src: url(../font/ArialNovaCond.ttf);
}

@font-face {
  font-family: Arial-Nova-Condensed-Bold;
  src: url(../font/ArialNovaCond-Bold.ttf);
}

html {
  width: 100%;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdf7fb;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left {
  flex: 70%;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.right {
  flex: 30%;
  height: 86vh;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.list {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 55%;
  box-shadow: inset 2px 1px 10px 1px #a6856f;
  border-radius: 10px;
}

.participant-header {
  color: #fdf7fb;
  position: sticky;
  top: 25px;
  background-color: #b23a28;
  padding: 10px;
  font-size: 18px;
  font-family: Arial-Nova-Condensed-Bold;
}

.participant {
  width: 80%;
  margin-left: 10%;
  display: block;
  margin-bottom: 40px;
  color: #f84603;
  text-decoration: none;
}

.name {
  font-size: 16px;
  font-family: Arial-Nova-Condensed-Bold;
}

.college {
  font-size: 14px;
  font-family: Arial-Nova-Condensed;
}

.blank {
  height: 100vh;
}

.logo {
  height: 100vh;
}

.logo img {
  display: block;
  margin: auto;
  padding-top: 70px;
}

.logo img:nth-of-type(1) {
  padding-top: 200px;
}
/*-----------------------------------------------------*/

@media only screen and (max-width: 900px) {
  .container {
    display: block;
  }

  .list {
    margin: auto;
  }
}

/*-----------------------------------------------------*/

@media only screen and (max-width: 500px) {
  .left {
    background-size: contain;
  }
}
