<!doctype html>
<html lang="en">
    <head>
    	<title>Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='main/css/index.css')}}" type="text/css">
    </head>
    <body>
		<div class="container">
			<div class="left"></div>
			<div class="right">
				<div class="list">
					<h4 class="participant-header">PARTICIPANTS</h4>
					<div class="blank" ></div>
					<a class="participant" href="/Shiyasmohd">
						<div>
							<div class="name">SHIYAS MOHAMMED</div>
							<div class="college">GEC THRISSUR</div>
						</div>
					</a>
					<a class="participant" href="/Shiyasmohd">
						<div>
							<div class="name">SHIYAS MOHAMMED</div>
							<div class="college">GEC THRISSUR</div>
						</div>
					</a>
					<a class="participant" href="/Shiyasmohd">
						<div>
							<div class="name">SHIYAS MOHAMMED</div>
							<div class="college">GEC THRISSUR</div>
						</div>
					</a>
					<a class="participant" href="/Shiyasmohd">
						<div>
							<div class="name">SHIYAS MOHAMMED</div>
							<div class="college">GEC THRISSUR</div>
						</div>
					</a>
					<a class="participant" href="/Shiyasmohd">
						<div>
							<div class="name">SHIYAS MOHAMMED</div>
							<div class="college">GEC THRISSUR</div>
						</div>
					</a>
					<a class="participant" href="/Shiyasmohd">
						<div>
							<div class="name">SHIYAS MOHAMMED</div>
							<div class="college">GEC THRISSUR</div>
						</div>
					</a>
					<a class="participant" href="/Shiyasmohd">
						<div>
							<div class="name">SHIYAS MOHAMMED</div>
							<div class="college">GEC THRISSUR</div>
						</div>
					</a>
					<a class="participant" href="/Shiyasmohd">
						<div>
							<div class="name">SHIYAS MOHAMMED</div>
							<div class="college">GEC THRISSUR</div>
						</div>
					</a>
					
					<div class="logo">
						<img src="{{url_for('static', filename='main/images/hacktober.svg')}}" 
							alt="no logo found"
							class="logo-img"
							width="90px">
						<img src="{{url_for('static', filename='main/images/foss.png')}}" 
							alt="no logo found" 
							class="logo-img"
							width="100px">
						<img src="{{url_for('static', filename='main/images/tinkerhub.png')}}" 
							alt="no logo found" 
							class="logo-img"
							width="160px">

					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="{{url_for('static', filename='main/js/autoScroll.js')}}"></script>
    </body>
<html>
