<!doctype html>
<html lang="en">
    <head>
    	<title>Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='main/style.css')}}" type="text/css">
    </head>
    <body>
		<div class="container">
			<div class="left"></div>
			<div class="right">
				<div class="list">
					<h3 class="participant-header">Participants</h3>
					<div class="blank"></div>
					<a class="participant" href="/aanandunnis">
						<div>
							<div class="name">Shiyas</div>
							<div class="class">S2 CSE</div>
						</div>
					</a>
					<a class="participant" href="/aanandunnis">
						<div>
							<div class="name">Shiyas</div>
							<div class="class">S2 CSE</div>
						</div>
					</a>
					<a class="participant" href="/aanandunnis">
						<div>
							<div class="name">Shiyas</div>
							<div class="class">S2 CSE</div>
						</div>
					</a>
					<a class="participant" href="/aanandunnis">
						<div>
							<div class="name">Shiyas</div>
							<div class="class">S2 CSE</div>
						</div>
					</a>
					<a class="participant" href="/aanandunnis">
						<div>
							<div class="name">Shiyas</div>
							<div class="class">S2 CSE</div>
						</div>
					</a>
					<a class="participant" href="/aanandunnis">
						<div>
							<div class="name">Shiyas</div>
							<div class="class">S2 CSE</div>
						</div>
					</a>
					<a class="participant" href="/aanandunnis">
						<div>
							<div class="name">Shiyas</div>
							<div class="class">S2 CSE</div>
						</div>
					</a>
					
					<div class="blank"></div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="{{url_for('static', filename='main/script.js')}}"></script>
    </body>
<html>
