@font-face {
  font-family: Arial-Nova-Condensed;
  src: url(../main/font/ArialNovaCond.ttf);
}

@font-face {
  font-family: Arial-Nova-Condensed-Bold;
  src: url(../main/font/ArialNovaCond-Bold.ttf);
}

body {
 
  margin: 0;
  padding: 0;
  background-color: #0bf3f33d;
  font-family: Arial-Nova-Condensed;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container { 
 background-image: url("images.jpg");
  border-radius: 10% 10% 10% ;
  height: 80vh;
  width: 24vw;
  margin: auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
  border-width: 25px 2px 25px 2px;
  border-style: solid;
  border-color: #f0caff;
  background-color: #a9c4ee;
}

.header {
  width: 100%;
  display: flex;
  margin-top: 7vh;
}

.logo {
  flex: 50%;
}

.foss-logo img {
  width: 32%;
  margin-left: 20%;
}

.tinkerhub-logo img {
  width: 50%;
  margin-left: 37.5%;
  margin-top: 1px;
}

.event-header {
  font-size: 25px;
  text-align: center;
  margin-top: 6vh;
  font-family: Arial-Nova-Condensed-Bold;
}

.card-purpose {
  width: max-content;
  margin: auto;
  font-size: 16px;
  text-align: center;
  margin-top: 3vh;
  line-height: 23px;
  border-bottom: 1px solid #f84603;
}

.image img {
  width: 45%;
  margin-left: 27.5%;
  margin-top: 2vh;
  border-radius: 10px;
}

.details {
  font-size: 16px;
  text-align: center;
  margin-top: 2vh;
}

.participant-college {
  font-size: 14px;
}

.congrats {
  font-size: 20px;
  text-align: center;
  margin-top: 5vh;
  font-family: Arial-Nova-Condensed-Bold;
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1100px) {
  .container {
    height: 90vh;
    width: 30vw;
  }

  .image img {
    width: 50%;
    margin-left: 25%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {
  .container {
    height: 90vh;
    width: 35vw;
  }

  .image img {
    width: 55%;
    margin-left: 22.5%;
  }

  .card-purpose {
    margin-top: 4vh;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 800px) {
  .header {
    margin-top: 10vh;
  }

  .container {
    width: 40%;
  }

  .image img {
    margin-top: 4vh;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 675px) {
  .container {
    width: 50%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 500px) {
  .header {
    margin-top: 8vh;
  }

  .container {
    width: 70%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 400px) {
  .container {
    width: 90%;
  }
}
