@font-face {
  font-family: Arial-Nova-Condensed;
  src: url(../main/font/ArialNovaCond.ttf);
}

@font-face {
  font-family: Arial-Nova-Condensed-Bold;
  src: url(../main/font/ArialNovaCond-Bold.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdf7fb;
  font-family: Arial-Nova-Condensed;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: rgb(44, 44, 44); */
  /* background-image: url("./bg.jpg"); */
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
  height: 80vh;
  width: 24vw;
  margin: auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
  /* border-width: 25px 2px 25px 2px;
  border-style: solid;
  border-image: linear-gradient(to right,rgb(25, 14, 175), rgb(19, 185, 27)) 1;
  background-color: #fdf7fb; */
  /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden; */
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: azure;
  
}
.container:hover{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}

.header {
  width: 100%;
  display: flex;
  margin-top: 3vh;
}

.logo {
  flex: 50%;
}

.foss-logo img {
  width: 32%;
  margin-left: 20%;
}

.tinkerhub-logo img {
  width: 50%;
  margin-left: 37.5%;
  margin-top: 1px;
}

.event-header {
  font-size: 25px;
  text-align: center;
  margin-top: 6vh;
  font-family: Arial-Nova-Condensed-Bold;
}

.card-purpose {
  width: max-content;
  margin: auto;
  font-size: 16px;
  text-align: center;
  margin-top: 3vh;
  line-height: 23px;
  border-bottom: 1px solid #f84603;
}

.image img {
  width: 45%;
  margin-left: 27.5%;
  margin-top: 2vh;
  border-radius: 10px;
}

.details {
  /* font-size: 16px; */
  text-align: center;
  margin-top: 2vh;
}

.participant-college {
  font-size: 14px;
}

.congrats {
  font-size: 20px;
  text-align: center;
  margin-top: 5vh;
  font-family: Arial-Nova-Condensed-Bold;
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1100px) {
  .container {
    height: 90vh;
    width: 30vw;
  }

  .image img {
    width: 50%;
    margin-left: 25%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {
  .container {
    height: 90vh;
    width: 35vw;
  }

  .image img {
    width: 55%;
    margin-left: 22.5%;
  }

  .card-purpose {
    margin-top: 4vh;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 800px) {
  .header {
    margin-top: 10vh;
  }

  .container {
    width: 40%;
  }

  .image img {
    margin-top: 4vh;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 675px) {
  .container {
    width: 50%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 500px) {
  .header {
    margin-top: 8vh;
  }

  .container {
    width: 70%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 400px) {
  .container {
    width: 90%;
  }
}
.participant-name{
  font-size: 40;
}
.insta{
  width:25px;
  height: 10;
  border-radius: 10px;
}
.git{
  width:25px;
  height: 10;
  border-radius: 25px;
  margin-right: 10px;
}
.soc{
  display: flex;
  /* margin-left: 150px; */
  margin-top: 30px;
  justify-content: center;
  /* max-width: 60; */
}
/* .git:hover{
  width: 30px;
  border-radius: 30px;
} */