html {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fbf5f5;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left {
  flex: 70%;
  background-image: url("./cover.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.right {
  flex: 30%;
  height: 86vh;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.list {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 50%;
  box-shadow: inset 2px 1px 10px 1px #a6856f;
  border-radius: 10px;
}

.participant-header {
  letter-spacing: 1px;
  color: #fbf5f5;
  position: sticky;
  top: 20px;
  background-color: #b23a28;
  padding: 10px;
}

.participant {
  display: block;
  margin-bottom: 40px;
  color: #f84603;
  letter-spacing: 1px;
  font-size: 1em;
  text-decoration: none;
}

.name {
  font-weight: bold;
}

.blank {
  height: 100vh;
}

/*-----------------------------------------------------*/

@media only screen and (max-width: 900px) {
  .container {
    display: block;
  }

  .list {
    margin: auto;
  }
}
