<html>
    <head>
        <title>Hacktober</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="container-main">
                <div class="header">
                    <div class="h-txt-1">
                        <h4>FOSS<br>GECT</h4>
                    </div>
                    <div class="h-txt-2">
                        <h3><b>Tinker</b>Hub</h3>
                        <h4>GECT</h4>
                    </div>
                </div>
                <div class="content">
                    <h1>HACTOBERFIESTA-21</h1>
                    <div class="underline-txt"><h2>PARTICIPATION CARD</h2></div>
                    <div class="img-details">
                        <img src="img/Shiyas.jpg">
                        <h4>SHIYAS MOHAMMED</h4>
                        <h5>GEC THRISSUR</h5>
                    </div>
                </div>
                <div class="congrats">
                    <h1>CONGRATULATIONS</h1>
                </div>
            </div>
        </div>
    </body>
</html>