<!doctype html>
<html>
    <head>
        <title>Hacktober</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="container-main">
                <div class="header">
                    <div class="h-txt-1">
                        <h4>FOSS<br>GECT</h4>
                    </div>
                    <div class="h-txt-2">
                        <h3><b>Tinker</b>Hub</h3>
                        <h4>GECT</h4>
                    </div>
                </div>
                <div class="content">
                    <center>
                        <h1>HACTOBERFIESTA-21</h1>
                    </center
                    <div class="underline-txt">
                        <center>
                            <h2>PARTICIPATION CARD</h2>
                        </center>
                    </div>
                    <div class="img-details">
                        <img src="{{url_for('static', filename='images/Shiyas.jpg')}}">
                        <h4>{{name}}</h4>
                        <h5>GEC THRISSUR</h5>
                    </div>
                </div>
                <div class="congrats">
                    <center>
                        <h1>CONGRATULATIONS</h1>
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>
