<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Html practice code">
    <title>Html Practice</title>
</head>

<body>

    <h1> HTML headings are defined with the h1 to h6 tags. </h1> 
    <h2> Heading 2 </h2>
    <h3> Heading 3 </h3>
    <h4> Heading 4 </h4>
    <h5> Heading 5 </h5>
    <h6> Heading 6</h6>

    <h1>First Paragraph:</h1>
    <p>Lorem, ipsum dolor sit <strong>Bold type</strong> amet consectetur adipisicing elit. Culpa blanditiis perspiciatis, exercitationem dicta in,
        architecto velit harum excepturi, expedita modi accusamus <em>Emphasis text</em> consequatur cum perferendis adipisci rerum consectetur
        deleniti temporibus consequuntur.
        <br> 
        <hr>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, doloremque.
    </p>

    <!-- pre tag preserve space and line break -->
    <pre>
        Abhishek.

        Bsc(H) Comp Sci.
      
        ARSD College.
    </pre>

    <!-- add url of any page -->
    <a href="https://www.google.com">Google</a>
    <a href="https://www.facebook.com" target="_blank">Facebook</a>

    <!-- add an image -->
    <img src="image.jpeg" alt="Html Image">
    <img src="image1.jpg" alt="Image" width="600" height="300">

    <!-- list in html -->
    <ul>
        <li>Unorder list</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <ol>
            <li>sub list</li>
        </ol>
        <li>Lorem ipsum dolor sit amet.</li>
    </ul>
    <ol type="I">
        <li>Order list.</li>
        <li>Lorem, ipsum dolor.</li>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
    </ol>

    <!-- Tables in html  -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Roll_no</th>
                <th>Marks</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>Abhishek</td>
                <td>106</td>
                <td>90</td>
            </tr>
            <tr>
                <td>Anshika</td>
                <td>85</td>
                <td>95</td>
            </tr>

        </tbody>
    </table>

    <!-- forms in Html -->
    <h2>Form</h2>
    <form action="data.php">
        <div>
            Name:<input type="text" name="Name">
        </div>
        <br>
        <div>
            College Name: <input type="text" name="collegename">
        </div>
        <br>
        <div>
            Roll No:<input type="text" name="Rollno">
        </div>
        <br>
        <div>
            Gender: Male <input type="radio" name="gender"> Female <input type="radio" name="gender" >
        </div>
        <br>
        <div>
            Select the checkbox<input type="checkbox" name="" id="">
        </div>
        <br>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    

</body>

</html>