<!doctype html>
<html lang="en">
    <head>
        <title>Shiyas Mohammed</title>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='Shiyasmohd/style.css')}}" type="text/css">
    </head>
    <body>
        <div class="container" id="download">
            <div class="header">
                <div class="foss-logo">
                    <img src="{{url_for('static', filename='main/images/foss.png')}}" 
                    alt="no logo found">
                </div>
                <div class="tinkerhub-logo">
                    <img src="{{url_for('static', filename='main/images/tinkerhub.png')}}" 
                    alt="no logo found">
                </div>
            </div>
            <div class="content">
                <div class="event-header">
                    HACKTOBERFIESTA-21
                </div>
                <div class="card-purpose">
                    PARTICIPATION CARD
                </div>
                <div class="image">
                    <img src="{{url_for('static', filename='Shiyasmohd/Shiyas.jpg')}}">
                </div>
                <div class="details">
                    <div class="participant-name">SHIYAS MOHAMMED</div>
                    <div class="participant-college">GEC THRISSUR</div>
                </div>
                <div class="congrats">
                    CONGRATULATIONS
                </div>
            </div>
        </div>
        <button id="download-card">Download Card</button>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
        <script src="{{url_for('static', filename='main/js/html2canvas.js')}}"></script>
        <script src="{{url_for('static', filename='main/js/convert.js')}}"></script>
    </body>
</html>
