@font-face {
  font-family: Arial-Nova-Condensed;
  src: url(../main/font/ArialNovaCond.ttf);
}

@font-face {
  font-family: Arial-Nova-Condensed-Bold;
  src: url(../main/font/ArialNovaCond-Bold.ttf);
}
@font-face {
  font-family: squealer-embossed;
  src: url(../abdrishad/fonts/squealer-embossed.ttf);
}
@font-face {
  font-family: squealer;
  src: url(../abdrishad/fonts/squealer.ttf);
}
@font-face {
  font-family: milla-cilla;
  src: url(../abdrishad/fonts/milla-cilla.otf);
}
@font-face {
  font-family: AvenueX-Regular;
  src: url(../abdrishad/fonts/AvenueX-Regular.otf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../abdrishad/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(../abdrishad/fonts/Poppins-Light.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #2f3531;
  background-image: url('https://media.giphy.com/media/ToMjGpjm9vQhsB4cqVa/giphy.gif');
  background-size: cover;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#selector{
  width:100%;
  height:100%;
}
.container {
  height: 80vh;
  width: 24vw;
  margin: auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
  border-width: 7px 2px 85px 2px;
  border-style: solid;
  border-color: #2B3531;
  border-radius: 17px;
  background-color: #2b3531;
  background: linear-gradient(189deg, rgba(127,131,126,1) 25%, #b3a991 86%, rgba(150,167,148,1) 100%);
  background-image: url()
  background-size:cover;
  background-repeat: no-repeat;

}

.header {
  width: 100%;
  display: flex;
  margin-top: 5vh;
}

.logo {
  flex: 52%;
  background-color:  #2b3531;
}

.foss-logo img {
  width: 32%;
  margin-left: 12%;
  background-color: rgba(127,131,126,1);
}

.tinkerhub-logo img {
  width: 50%;
  margin-left: 46%;
  margin-top: 3px;
  background-color: rgba(127,131,126,1);
}

.event-header {
  font-size: 36px;
  text-align: center;
  margin-top: 5vh;
  color: #2B3531;font-family: squealer;


}

.card-purpose {
  width: max-content;
  margin: auto;
  font-size: 18px;
  font-family: Poppins-Light;
  color:black;
  text-align: center;
  margin-top: 5vh;
  line-height: 40px;
  border-bottom: 3px solid #2B3531;
}

.image img {
  width: 46%;
  height: 58%;
  margin-left: 25%;
  margin-top: 2vh;
  border-width: 1px 3px 1px 3px;
  border-style: solid;
  border-color: #2b3531;
  border-radius: 16px;
  filter: drop-shadow(1px 3px 1rem #a88671);
}

.details {
  font-size: 20px;
  text-align: center;
  margin-top: 1vh;
  font-family: Poppins-Regular;
  color: #2f4039;

}



.participant-college {
  font-size: 14px;
  font-family: Arial-Nova-Condensed;
  text-align: center;
  text-decoration-line: overline  ;
  color: #2B3541;
}

.congrats {
  font-size: 27px;
  text-align: center;
  margin-top: 4vh;
  font-family: squealer-embossed;
  color:#2B4541;
}
.hactober img {
    width: 42%;
    height: 39%;
margin-top: 1vh;
  align-content: centre;
  margin-left: 27%;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1100px) {
  .container {
    height: 90vh;
    width: 30vw;
  }

  .image img {
    width: 50%;
    margin-left: 25%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {
  .container {
    height: 90vh;
    width: 35vw;
  }

  .image img {
    width: 55%;
    margin-left: 22.5%;
  }

  .card-purpose {
    margin-top: 4vh;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 800px) {
  .header {
    margin-top: 10vh;
  }

  .container {
    width: 40%;
  }

  .image img {
    margin-top: 4vh;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 675px) {
  .container {
    width: 50%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 500px) {
  .header {
    margin-top: 8vh;
  }

  .container {
    width: 70%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 400px) {
  .container {
    width: 90%;
  }
}
