@font-face {
  font-family: Arial-Nova-Condensed;
  src: url(../main/font/ArialNovaCond.ttf);
}

@font-face {
  font-family: Arial-Nova-Condensed-Bold;
  src: url(../main/font/ArialNovaCond-Bold.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdf7fb;
  font-family: Arial-Nova-Condensed;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  height: 80vh;
  width: 24vw;
  margin: auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
  border-width: 25px 2px 25px 2px;
  border-style: solid;
  border-radius: 25px;
  border-color: #003c80;
  background-color: #fdf7fb;
}
.container:hover {
  background: linear-gradient(
        to left,
        transparent 0%,
        rgba(131, 58, 180, 1) 5%,
        transparent 40%,
        rgba(253, 29, 29, 1) 50%,
        transparent 60%,
        rgba(252, 176, 69, 1) 100%
      )
      0 0 repeat-x,
    linear-gradient(
        to right,
        transparent 0%,
        rgba(131, 58, 180, 1) 5%,
        transparent 40%,
        rgba(253, 29, 29, 1) 50%,
        transparent 60%,
        rgba(252, 176, 69, 1) 100%
      )
      100% 100% repeat-x,
    linear-gradient(
        to top,
        transparent 0%,
        rgba(131, 58, 180, 1) 5%,
        transparent 40%,
        rgba(253, 29, 29, 1) 50%,
        transparent 60%,
        rgba(252, 176, 69, 1) 100%
      )
      0 100% repeat-y,
    linear-gradient(
        to bottom,
        transparent 0%,
        rgba(131, 58, 180, 1) 5%,
        transparent 40%,
        rgba(253, 29, 29, 1) 50%,
        transparent 60%,
        rgba(252, 176, 69, 1) 100%
      )
      100% 0 repeat-y,
    white center no-repeat;
  background-size: 300% 5px, 300% 5px, 5px 300%, 5px 300%, 100% 100%;
  transition: 1.5s linear;
}

.header {
  width: 100%;
  display: flex;
  margin-top: 7vh;
}

.logo {
  flex: 50%;
}

.foss-logo img {
  width: 32%;
  margin-left: 20%;
}

.tinkerhub-logo img {
  width: 50%;
  margin-left: 37.5%;
  margin-top: 1px;
}

.event-header {
  font-size: 25px;
  text-align: center;
  margin-top: 6vh;
  font-family: Arial-Nova-Condensed-Bold;
}

.card-purpose {
  width: max-content;
  margin: auto;
  font-size: 16px;
  text-align: center;
  margin-top: 3vh;
  line-height: 23px;
  border-bottom: 1px solid #003c80;
}

.image img {
  width: 45%;
  margin-left: 27.5%;
  margin-top: 2vh;
  border-radius: 10px;
}

.details {
  font-size: 16px;
  text-align: center;
  margin-top: 2vh;
}

.participant-college {
  font-size: 14px;
}

.congrats {
  font-size: 20px;
  text-align: center;
  margin-top: 5vh;
  font-family: Arial-Nova-Condensed-Bold;
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1100px) {
  .container {
    height: 90vh;
    width: 30vw;
  }

  .image img {
    width: 50%;
    margin-left: 25%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {
  .container {
    height: 90vh;
    width: 35vw;
  }

  .image img {
    width: 55%;
    margin-left: 22.5%;
  }

  .card-purpose {
    margin-top: 4vh;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 800px) {
  .header {
    margin-top: 10vh;
  }

  .container {
    width: 40%;
  }

  .image img {
    margin-top: 4vh;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 675px) {
  .container {
    width: 50%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 500px) {
  .header {
    margin-top: 8vh;
  }

  .container {
    width: 70%;
  }
}

/* ----------------------------------------------------------------- */

@media only screen and (max-width: 400px) {
  .container {
    width: 90%;
  }
}
